---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - nodes
  - pods
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - aim.eai.amd.com
  resources:
  - aimclustermodels
  - aimclusterruntimeconfigs
  - aimclusterservicetemplates
  - aimmodelcaches
  - aimmodels
  - aimruntimeconfigs
  - aimservices
  - aimservicetemplates
  - aimtemplatecaches
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - aim.eai.amd.com
  resources:
  - aimclustermodels/finalizers
  - aimclusterservicetemplates/finalizers
  - aimmodelcaches/finalizers
  - aimmodels/finalizers
  - aimservicetemplates/finalizers
  verbs:
  - update
- apiGroups:
  - aim.eai.amd.com
  resources:
  - aimclustermodels/status
  - aimclusterservicetemplates/status
  - aimmodelcaches/status
  - aimmodels/status
  - aimservices/status
  - aimservicetemplates/status
  - aimtemplatecaches/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - httproutes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - httproutes/status
  verbs:
  - get
- apiGroups:
  - serving.kserve.io
  resources:
  - clusterservingruntimes
  - inferenceservices
  - servingruntimes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - serving.kserve.io
  resources:
  - clusterservingruntimes/status
  - inferenceservices/status
  - servingruntimes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
  - list
  - watch
