{{- if .Values.clusterRuntimeConfig.enable }}
apiVersion: aim.eai.amd.com/v1alpha1
kind: AIMClusterRuntimeConfig
metadata:
  name: {{ .Values.clusterRuntimeConfig.name }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  {{- with .Values.clusterRuntimeConfig.spec }}
  {{- if .storage }}
  storage:
    {{- toYaml .storage | nindent 4 }}
  {{- end }}
  {{- if .routing }}
  routing:
    {{- toYaml .routing | nindent 4 }}
  {{- end }}
  {{- if .model }}
  model:
    {{- toYaml .model | nindent 4 }}
  {{- end }}
  {{- if .env }}
  env:
    {{- toYaml .env | nindent 4 }}
  {{- end }}
  {{- if .labelPropagation }}
  labelPropagation:
    {{- toYaml .labelPropagation | nindent 4 }}
  {{- end }}
  {{- end }}
{{- end }}

