name: docs
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV

      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - name: Generate docs (CRD API reference + Helm values)
        run: make generate-docs

      - name: Install Python dependencies
        run: pip install -r requirements.txt
        working-directory: ./docs

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
        working-directory: ./docs
